<a href="https://colab.research.google.com/github/mostofa89/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
print(pandas.__version__)

In [ ]:
datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}


myvar = pandas.DataFrame(datasets)
print(myvar)

#Series

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums)
print(num_tab)

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums, index = ['a', 'b', 'c', 'd', 'e'])
print(num_tab)

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums, index = ['a', 'b', 'c', 'd', 'e'])
print(num_tab['e'])

In [ ]:
import pandas as pd

nums = [1.34, 3.14, 5.5, 7.3, 9.9]

num_tab = pd.Series(nums)
print(num_tab)

In [ ]:
import pandas as pd

nums = [1.34, 3.14, 5.5, 7.3, 9.9]

num_tab = pd.Series(nums)
print(num_tab[4])

In [ ]:
import pandas as pd

cars = ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"]

cars_tab = pd.Series(cars)
print(cars_tab)

In [ ]:
#indexing
import pandas as pd

cars = ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"]

cars_tab = pd.Series(cars)
print(cars_tab[0])

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_tab = pd.Series(datasets)
print(data_tab)

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

cal_tab = pd.Series(calories, index = ["day1", "day2"])
print(cal_tab['day1'])

#Data Frames

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_tab = pd.DataFrame(datasets)
print(data_tab)

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets, index=[1, 2, 3, 4, 5, 6])
print(data_tab)

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets)
print(data_frame.loc[0])

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets)
print(data_frame.loc[[0, 1]]) # index1, index2
print(data_frame.loc[[1, 4]])

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc['day1'])

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ['x', 'y', 'z'])

print(df)

In [ ]:
print(df.index.tolist())

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ['x', 'y', 'z'], index = ["a", "b", "c"])

print(df)

In [ ]:
df.info()

In [ ]:
print(df.describe())

In [ ]:
print(df.nunique())

In [ ]:
print(df.shape)

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ['x', 'y', 'z'], index = ["a", "b", "c"])

print(df.size)

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[['day1', 'day3']])

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.shape)
print(df.size)

#Reading CSV File

In [ ]:
import pandas as pd


titanic = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/titanic.csv")
print(titanic.head())

In [ ]:
import pandas as pd


titanic = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/titanic.csv")
print(titanic.to_string())

In [ ]:
import pandas as pd


titanic = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/titanic.csv")
print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

In [ ]:
import pandas as pd

pd.options.display.max_rows = 9999
titanic = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/titanic.csv")

print(titanic)

In [ ]:
import pandas as pd

titanic = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/titanic.csv")

print(titanic.to_excel)

# Read JSON File

In [ ]:
import pandas as pd

data1 = pd.read_json('/content/drive/MyDrive/Pandas/Json/sample.json', orient = "index")

print(data1)

In [ ]:
import pandas as pd

data1 = pd.read_json('/content/drive/MyDrive/Pandas/Json/sample.json', orient = "columns")

print(data1)

In [ ]:
import pandas as pd

data1 = pd.read_json('/content/drive/MyDrive/Pandas/Json/sample.json', orient = "columns")

print(data1.to_excel)

In [ ]:
import pandas as pd

data1 = pd.read_json('/content/drive/MyDrive/Pandas/Json/sample.json', orient = "columns")

print(data1.to_csv)

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
print(data.to_string())

In [ ]:
import pandas as pd

data = pd.read_json('/content/sample_data/anscombe.json')
print(data.to_string())

#Accessing Files

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/industry.csv')

print(df.head(10))

###Slicing Data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/industry.csv')


print(df[0: 15])

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/industry.csv')


print(df[5: 15])

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

print(titanic[10 : 20])

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

print(titanic.sample(10))

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

print(titanic.head())

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

print(titanic.tail())

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

print(titanic.info())

### Random Valus

In [ ]:
#Accessing Random values
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.sample(10))

In [ ]:
#Accessing Random values
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.sample(10, random_state = 1))

###Accessing specific value

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.loc[2])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.loc[[0, 1, 2]])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.loc[5:])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data)

### Accessing Specific Column

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.Calories)

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.Maxpulse)

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data["Maxpulse"])

### Sorting Specific Column

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.sort_values("Pulse"))

In [ ]:
exercise = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/exercise.csv')

print(exercise.sort_values("Date"))

In [ ]:
exercise = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/exercise.csv')

print(exercise.sort_values("Calories", ascending = False))

In [ ]:
people = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/people.csv')

print(people.sort_values('First Name'))

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.iloc[0 : 5, [1, 3]]) #[1, 3] firstindex, secondindex

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
print(data.loc[100 :110, 'Pulse'])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

data.loc[3, "Calories"] = 380
print(data)

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

print(data.loc[2, 'Pulse'])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')

data.loc[3, "Calories"] = 380
print(data)

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')


print(data.at[4, "Pulse"])

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')


print(data.iat[0, 1])

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.head(10))

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.tail(10))

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.tail())

#Cleaning Empty Cell

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/customers.csv')
new = titanic.dropna()

print(new.to_string())

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/customers.csv')
titanic.dropna(inplace = True)

print(titanic.to_string())

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
print(data.to_string())

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
data.dropna(inplace = True)
print(data.to_string())

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
data.fillna(130, inplace = True)

print(data)

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
data.fillna({"Calories": 130}, inplace=True)

print(data)

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
x = data["Calories"].mean()

data.fillna({"Calories": x}, inplace=True)

print("Mean of the data Is", x)
print(data)

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
x = data["Calories"].median()

data.fillna({"Calories": x}, inplace=True)

print("Median of the data Is", x)
print(data)

In [ ]:
import pandas as pd

data = pd.read_json('/content/drive/MyDrive/Pandas/Json/data.json')
x = data["Calories"].mode()

data.fillna({"Calories": x}, inplace=True)

print("Mode of the data Is", x)
print(data)

#Correlation

In [ ]:
customers = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/customers.csv')
numeric_data = customers.select_dtypes(include='number')

print(numeric_data.corr())

In [ ]:
import pandas as pd

sample = pd.read_json('/content/drive/MyDrive/Pandas/Json/sample.json')
numeric_data = sample.select_dtypes(include='number')

print(numeric_data.corr())

# Correcting the Wrong Formet

In [ ]:
import pandas as pd

people = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/people.csv')

print(people.to_string())

In [ ]:
import pandas as pd

people = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/people.csv')
people['Date of birth'] = pd.to_datetime(people['Date of birth'], format='mixed')

print(people.to_string())

In [ ]:
import pandas as pd

people = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/people.csv')
people.dropna(subset = ['Date of birth'], inplace = True)

print(people.to_string())

In [ ]:
import pandas as pd

people = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/people.csv')

people.loc[3, 'Date of birth'] = "10/26/2002"
print(people.to_string())

In [ ]:
import pandas as pd

exercise_data = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/exercise_data.csv")

print(exercise_data)

In [ ]:
import pandas as pd

exercise_data = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/exercise_data.csv")

for i in exercise_data.index:
  if exercise_data.loc[i, 'Duration'] > 120:
    exercise_data.loc[i, 'Duration'] = 120

print(exercise_data.to_string())

#Removing Duplicate Values

In [ ]:
import pandas as pd

exercise_data = pd.read_csv("/content/drive/MyDrive/Pandas/CSV/exercise_data.csv")

print(exercise_data.duplicated())

In [ ]:
import pandas as pd

exercise = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/exercise.csv')

print(exercise.duplicated())

In [ ]:
import pandas as pd

exercise = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/exercise.csv')
exercise.drop_duplicates(inplace = True)

print(exercise.duplicated())

#Ploting

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')

titanic.plot()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')
print(titanic.columns)
titanic.plot(kind = 'scatter', x = 'Pclass', y = 'PassengerId')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sys

titanic = pd.read_csv('/content/drive/MyDrive/Pandas/CSV/titanic.csv')
print(titanic.columns)
titanic['Survived'].plot(kind = 'hist')
plt.show()