<a href="https://colab.research.google.com/github/mostofa89/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas

In [ ]:
print(pandas.__version__)

In [ ]:
datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}


myvar = pandas.DataFrame(datasets)
print(myvar)

#Series

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums)
print(num_tab)

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums, index = ['a', 'b', 'c', 'd', 'e'])
print(num_tab)

In [ ]:
import pandas as pd

nums = [1, 3, 5, 7, 9]

num_tab = pd.Series(nums, index = ['a', 'b', 'c', 'd', 'e'])
print(num_tab['e'])

In [ ]:
import pandas as pd

nums = [1.34, 3.14, 5.5, 7.3, 9.9]

num_tab = pd.Series(nums)
print(num_tab)

In [ ]:
import pandas as pd

nums = [1.34, 3.14, 5.5, 7.3, 9.9]

num_tab = pd.Series(nums)
print(num_tab[4])

In [ ]:
import pandas as pd

cars = ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"]

cars_tab = pd.Series(cars)
print(cars_tab)

In [ ]:
#indexing
import pandas as pd

cars = ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"]

cars_tab = pd.Series(cars)
print(cars_tab[0])

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_tab = pd.Series(datasets)
print(data_tab)

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

cal_tab = pd.Series(calories, index = ["day1", "day2"])
print(cal_tab['day1'])

#Data Frames

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_tab = pd.DataFrame(datasets)
print(data_tab)

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets, index=[1, 2, 3, 4, 5, 6])
print(data_tab)

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets)
print(data_frame.loc[0])

In [ ]:
import pandas as pd

datasets = {
  "cars" : ["Alpha Romio", "BMW", "Ford", "Honda", "Toyota", "Volvo"],
  "passing" : [1, 3, 5, 7, 9, 11]
}

data_frame = pd.DataFrame(datasets)
print(data_frame.loc[[0, 1]]) # index1, index2
print(data_frame.loc[[1, 4]])

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc['day1'])

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[['day1', 'day3']])

#CSV File

In [ ]:
import pandas as pd


titanic = pd.read_csv("titanic.csv")
print(titanic)

In [ ]:
import pandas as pd


titanic = pd.read_csv("titanic.csv")
print(titanic.to_string())

In [ ]:
import pandas as pd


titanic = pd.read_csv("titanic.csv")
print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

In [ ]:
import pandas as pd

pd.options.display.max_rows = 9999
titanic = pd.read_csv("titanic.csv")

print(titanic)

# Read JSON File

In [ ]:
import pandas as pd

data1 = pd.read_json('data.json', orient = 'index')

print(data1)

In [ ]:
import pandas as pd

data = pd.read_json('/content/sample_data/anscombe.json')
print(data.to_string())

#Analyzing Files

In [ ]:
import pandas as pd

df = pd.read_csv('/content/CSV_Files/access.csv')

print(df.head(10))

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')

print(titanic.head(10))

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')

print(titanic.head())

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')

print(titanic.tail())

In [ ]:
import pandas as pd

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')

print(titanic.info())

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.head())

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.head(10))

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.tail(10))

In [ ]:
import pandas as pd

anscombe = pd.read_json('/content/sample_data/anscombe.json')

print(anscombe.tail())

#Ploting

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')

titanic.plot()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')
print(titanic.columns)
titanic.plot(kind = 'scatter', x = 'Pclass', y = 'PassengerId')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sys

titanic = pd.read_csv('/content/CSV_Files/titanic.csv')
print(titanic.columns)
titanic['Survived'].plot(kind = 'hist')
plt.show()